<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
	    http://www.springframework.org/schema/beans/spring-beans.xsd
	    http://www.springframework.org/schema/context
	    http://www.springframework.org/schema/context/spring-context.xsd ">
	    
<!-- instead of giving the property tags in this xml we can use @value annotation in student class directly to inject the values into these variables -->	    
<!-- 	    <context:property-placeholder location="classpath:student.properties"/>
	    <bean id="student" class="com.gearUpDi.properties.student">
	    	<property name="name" value="${student.name}"/>
	    	<property name="interestedCourse" value="${student.interestedCourse}"/>
	    	<property name="hobby" value="${student.hobby}"/>
	    </bean> -->
	    

<!-- in the below code we removed the property tags and if you go to student class there you find @Value annotation to inject values. -->		
<!-- 		<context:annotation-config/>
	    <context:property-placeholder location="classpath:student.properties"/>
	    <bean id="student" class="com.gearUpDi.properties.student"/> -->

	   
<!-- in the below code we used the constructor args because these dependencies are required.so whenever we need to inject into a mandatory dependency them we use constructor using that dependency.
in the below code all three I assumed as mandatory. -->	    
	    <context:annotation-config/>
	    <context:property-placeholder location="classpath:student.properties"/>
	    <bean id="student" class="com.gearUpDi.properties.student">
	    	<constructor-arg name="name" value="${student.name}"/>
	    	<constructor-arg name="interestedCourse" value="${student.interestedCourse}"/>
	    	<constructor-arg name="hobby" value="${student.hobby}"/>
	    </bean>

  	
</beans>